
.react-bootstrap-table table {
    table-layout: auto;
  }

  
.row_posters {
    overflow-y: hidden !important;
    overflow-x: scroll !important;
   /* padding: 20px;*/
}
.row_posters::-webkit-scrollbar {
    display: none;
}

.btn {
  
  color: white !important;

  padding: 0.3rem 0.7rem;
  border: none;
  text-transform: capitalize !important;
  border-radius: 0.3rem;
  margin-right: 1rem;
}
.open-btn {
  background-color: blue;
}
.approve-btn {
  background-color: green;
}
.decline-btn {
  background-color: red;
}
.pending-btn {
  background-color: rgb(250, 250, 36);
}
